* {
  padding: 0;
  margin: 0;
  font-family: WF Visual Sans, Arial, sans-serif;
}

.app {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: #203029;
}

.main_tab,
.about_tab,
.contact_tab,
.webDev_tab {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 2rem;
  width: 50%;
  min-height: 50%;
  background-color: #5f8575;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  text-align: center;
}

.title h1 {
  font-size: clamp(3.5rem, 10vw + 1rem, 5rem);
}

.sub_title {
  text-align: center;
  font-size: clamp(1rem, 3vw + 0.3rem, 1.55rem);
  font-weight: 100;
}

.main_tab nav {
  width: 100%;
}

.main_tab nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

@media screen and (max-width: 835px) {
  .main_tab,
  .about_tab,
  .contact_tab,
  .webDev_tab {
    border: none;
    width: 80%;
  }
}
